h1 {
    color: rgb(173, 207, 230);
    border-bottom: rgb(68, 105, 185) 10px solid;
    
    
        font-weight: 900;
      }
  
  
  h2 {
    font-style: italic;
    color: greenyellow
  }

    h3 {
      font-style: italic;
      color: rgb(247, 247, 247)
  }

  p {
    font-style: italic;
    color: greenyellow
  }
  
  ul {
    background-color: #eeeeee;
    border: purple 5px double;
    padding: 5em;
  }
 
  a:hover{
      color: rgb(255, 11, 11);
  }
 
  .job-title{
      color: rgb(250, 248, 248);
      font-weight: bold;
      font-size: larger;
  }
  
 